<div>
  <app-error-message [message]="error"></app-error-message>

  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" name="title" [(ngModel)]="formData.title" required>
    </div>
    <div>
      <label for="_description">Description</label>
      <textarea id="_description" name="_description" [(ngModel)]="formData._description" required></textarea>
    </div>
    <div>
      <label for="budget">Budget</label>
      <input type="number" id="budget" name="budget" [(ngModel)]="formData.budget" required>
    </div>
    <div>
      <label for="category">Categorie</label>
      <select id="category" name="category" [(ngModel)]="formData.projetCategory.id" required>
        <option *ngFor="let item of projetCategories " [value]="item.id"> {{item.label}}</option>
      </select>
    </div>
    <div>
      <label for="startDate">Start Date</label>
      <input type="date" id="startDate" name="startDate" [(ngModel)]="formData.startDate" required>
    </div>
    <div>
      <label for="dueDate">Due Date</label>
      <input type="date" id="dueDate" name="dueDate" [(ngModel)]="formData.dueDate" required>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
