<div>
  <app-error-message [message]="error"></app-error-message>

  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="family">Famille Id:</label>
      <p id="family">{{family.id}}</p>
    </div>
    <div>
      <label for="label">Famille Lead:</label>
      <p id="label">{{family.familylead.name}}
    </div>
    <div>
      <label for="price">ID membre:</label>
      <input type="number" id="price" [(ngModel)]="familleMembre.citizen.id" name="price" required>
    </div>


    <button type="submit">Submit</button>
  </form>

</div>
