<div class="publication-form">
  <h2>Add New Publication</h2>
  <app-error-message [message]="error"></app-error-message>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="label">Label:</label>
      <input type="text" id="label" name="label" [(ngModel)]="publicationForm.label" required>
    </div>
    <div class="form-group">
      <label for="publicationDate">Publication Date:</label>
      <input type="date" id="publicationDate" name="publicationDate" [(ngModel)]="publicationForm.publicationDate" required>
    </div>
    <div class="form-group">
      <label for="author">Author:</label>
      <input type="text" id="author" name="author" [(ngModel)]="publicationForm.author" required>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
