<div class="body">
  <app-leftbar></app-leftbar>
  <div class="container">
    <app-error-message [message]="error"></app-error-message>
    <div class="publicationlist">
      <div class="card">
        <div class="card__content">
          <h1 style="text-align: center;font-size: 20px; color: white;margin-block: 30px;">Prédiction du résultat
            : </h1>
          <div >
            <table style="width: 100%">
              <tr>
                <td class="td-title">ID</td>
                <td class="td">{{projetPrediction.projet.id}}</td>
              </tr>
              <tr>
                <td class="td-title">Category</td>
                <td class="td">{{projetPrediction.projet.projetCategory.label}}</td>
              </tr>
              <tr>
                <td class="td-title">Description</td>
                <td class="td">{{projetPrediction.projet._description}}</td>
              </tr>
              <tr>
                <td class="td-title">Prediction d'acceptation </td>
                <td *ngIf="projetPrediction.prediction!=-1" class="td">{{projetPrediction.prediction}}%</td>
                <td *ngIf="projetPrediction.prediction==-1" class="td">Manque de donnée</td>
              </tr>
            </table>
          </div>

        </div>
      </div>
      <div class="resultat">
        <div class="card_box yes">
          <span></span>
          <h3>{{projetPrediction.forVote}}</h3>
        </div>
        <div class="card_box no">
          <span></span>
          <h3>{{projetPrediction.totalVote - projetPrediction.forVote}}</h3>
        </div>
      </div>

    </div>
  </div>



