<div class="login">
  <div class="top-bar">
    <h1 class="assigmenent">GOUVERNEMENT</h1>
    <span>LOGIN</span>
  </div>

  <div class="login-container">
    <div class="nothing"></div>
    <div class="intro">
      <div class="intro-container">
        <h1>Bienvenue<br>citoyens.</h1>
        <p>ADMINISTARTION <br> gouvernement</p>
        <h5>
          <a routerLink="/home">revenir vers l'accueil</a>
        </h5>
      </div>
    </div>

    <form (submit)="onSubmit()" class="form-login">
      <h1>Connectez-vous maintenant</h1>
      <hr>
      <app-error-message [message]="error"></app-error-message>
      <hr>
      <div class="input-group">
        <label for="email" placeholder="Votre adresse email">Email ou Identifiant</label>
        <input type="text" placeholder="Votre email ou identifiant" name='user' [(ngModel)]="user" id="email">
      </div>
      <div class="input-group">
        <label for="mdp">Mot de passe</label>
        <input type="password" placeholder="Votre mot de passe" name='pwd' [(ngModel)]="pwd" id="mdp">
      </div>


      <button
        type="submit"
        class="btn-black"
      >
        Se connecter
      </button>

    </form>
  </div>
</div>
