@import '../../../styles/flex';
@import '../../../styles/placeholder';
@import '../../../styles//input';
@import '../../../styles/btn';
body {
  color: $text-color;
}

.body {
  @include flex(row, center, center);
  height: 100%;
  width: 100%;
}

.container {
  @include flex(column,center, center);
  margin-left: 10px;
  height: 100%;
  width: 100%;
}
.form-projet{
  width: 100%;
}

.allocation{
  @include flex(row, center, center);
  height: 100%;
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

