<div class="body">
  <app-leftbar></app-leftbar>
  <div class="container" >
    <app-investissement-add [projetId]="projetId" (newInvestissement)="addInvestissement($event)" class="form-projet"></app-investissement-add>

    <div class="allocation">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title ">Allocation</h4>
          <p class="card-category"> liste</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>Label</th>
                <th>Price</th>
                <th>Transaction Date</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let investissement of investissementEntrees">
                <td>{{ investissement.label }}</td>
                <td>{{ investissement.price }}</td>
                <td>{{ investissement.transactionDate | date }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title ">Depense</h4>
          <p class="card-category"> liste</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>Label</th>
                <th>Price</th>
                <th>Transaction Date</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let investissement of investissementSorties">
                <td>{{ investissement.label }}</td>
                <td>{{ investissement.price }}</td>
                <td>{{ investissement.transactionDate | date }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
