<div class="body">
  <app-leftbar></app-leftbar>
  <div class="container">

    <app-error-message [message]="error"></app-error-message>
    <app-projet-add class="form-projet" (newProjet)="addProjet($event)" ></app-projet-add>

    <table>
      <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Budget</th>
        <th>Category</th>
        <th>Start Date</th>
        <th>Due Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let element of formDataList" >
        <td [routerLink]="link + element.id">{{ element.title }}</td>
        <td [routerLink]="link + element.id">{{ element._description }}</td>
        <td [routerLink]="link + element.id">{{ element.budget }}</td>
        <td [routerLink]="link + element.id">{{ element.projetCategory.label }}</td>
        <td [routerLink]="link + element.id">{{ element.startDate }}</td>
        <td [routerLink]="link + element.id">{{ element.dueDate }}</td>
        <td><a href="/sondage/{{element.id}}">SONDAGE</a></td>

      </tr>
      </tbody>
    </table>

  </div>
</div>
