<div class="comment-section">
  <app-error-message [message]="error"></app-error-message>
  <div class="comment-list">
    <a class="card4" *ngFor="let comment of comments">

      <p class="small">{{comment.comment}}</p>
      <p class="small">By: {{ comment.citizen.firstname }} {{ comment.citizen.name }}</p>
      <div class="go-corner">
      </div>
    </a>
  </div>
</div>

