<div class="body">
  <app-leftbar></app-leftbar>
  <div class="container">
    <app-error-message [message]="error"></app-error-message>
    <app-famille-add (newFamille)="addFamille($event)" ></app-famille-add>
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title ">Family</h4>
        <p class="card-category">liste</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
            <th>
              ID
            </th>
            <th>
              Family Lead
            </th>
            <th>
              QR Code
            </th>
            </thead>
            <tbody>
            <tr *ngFor="let famille of familles" [routerLink]="link + famille.id">
              <td>{{ famille.id }}</td>
              <td>{{ famille.familylead.id }}</td>
              <td>{{ famille.qrcode }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
