<div class="body">
  <app-leftbar></app-leftbar>
  <div class="container">
    <app-error-message [message]="error"></app-error-message>
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title ">Demande Document</h4>
        <p class="card-category">liste</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
            <th>
              ID
            </th>
            <th>
              Document
            </th>
            <th>
              Name
            </th>
            <th>
              Firstname
            </th>
            <th>
              Date
            </th>
            </thead>
            <tbody>
            <tr *ngFor="let demande of demandeDocuments" >
              <td>{{ demande.id }}</td>
              <td>{{ demande.document._description }}</td>
              <td>{{ demande.citizen.name }}</td>
              <td>{{ demande.citizen.firstname }}</td>
              <td>{{ demande.requestDate }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
