<div>
  <app-error-message [message]="error"></app-error-message>
  <form (ngSubmit)="onSubmit()">

    <label for="familylead">Family Lead:</label>
    <input type="number" id="familylead" [(ngModel)]="familleForm.familylead.id" [ngModelOptions]="{standalone: true}" required>

    <label for="qrcode">QR Code:</label>
    <input type="text" id="qrcode" [(ngModel)]="familleForm.qrcode" [ngModelOptions]="{standalone: true}" required>

    <button type="submit">Submit</button>

  </form>
</div>
