@import '../../../styles/flex';
@import '../../../styles/placeholder';

.left-bar {
  @include flex(column, flex-start, center);
  background-color: #F7F7F7;
  width: 22vw;
  min-height: 100vh;
  max-height: 100%;

  a {
    display: block;
    @include flex(row, flex-start, center);
    background-image: #F7F7F7;
    width: 100%;
    height: 60px;
    transition: all 0.1s ease-in;
    font-weight: 600;
    padding-left: 20px;

    img {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      color: #272727;
    }

    text-decoration: none;
    color: #1e1e1e;

  }

  a:hover,
  a.active {
    border-right: rgb(40, 40, 40) 5px solid;
    background-image: linear-gradient(to right, $color-red-fonce, $color-red-clair);
    cursor: pointer;
  }

  a.active {
    color: white;

    img {
      -webkit-filter: brightness(0) invert(1);
      filter: brightness(0) invert(1);
      pointer-events: none;
    }
  }

  @media screen and (max-width: 768px) {
    width: 60px;

    a {
      width: 100%;
      justify-content: center;

      span {
        display: none;
      }
    }
  }
}
