@import '../../../styles/_flex';
@import '../../../styles/_placeholder';
@import '../../../styles/_input';
@import '../../../styles/_btn';
body {
  color: $text-color;
}

.body {
  @include flex(row,center, center);

  height: 100%;
  width: 100%;
}

.container {
  @include flex(column,center, center);
  margin-left: 10px;
  max-height: 95vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.form-projet{
  width: 100%;
}
