<div class="body">
  <app-leftbar></app-leftbar>
  <div class="container">
    <app-error-message [message]="error"></app-error-message>
    <app-famille-membre-add (newMembreFamille)="addMembreFamille($event)" [family]="family"></app-famille-membre-add>
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title ">Member Family</h4>
        <p class="card-category">liste</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
            <th>
              ID Member
            </th>
            <th>
              ID Citizen
            </th>
            <th>
              Name
            </th>
            <th>
              Firstname
            </th>
            </thead>
            <tbody>
            <tr *ngFor="let membreFamille of membreFamilles">
              <td>{{ membreFamille.id }}</td>
              <td>{{ membreFamille.citizen.id }}</td>
              <td>{{ membreFamille.citizen.name }}</td>
              <td>{{ membreFamille.citizen.firstname }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
