<div>
  <app-error-message [message]="error"></app-error-message>

  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="label">Label:</label>
      <input type="text" id="label" [(ngModel)]="investissement.label" name="label" required>
    </div>
    <div>
      <label for="price">Price:</label>
      <input type="number" id="price" [(ngModel)]="investissement.price" name="price" required>
    </div>
    <div>
      <label for="transactionDate">Transaction Date:</label>
      <input type="date" id="transactionDate" [(ngModel)]="investissement.transactionDate" name="transactionDate"
             required>
    </div>
    <div>
      <label for="_type">Type:</label>
      <select id="_type" [(ngModel)]="investissement.type" name="_type" required>
        <option value="1">Entrée</option>
        <option value="2">Sortie</option>
      </select>
    </div>
    <button type="submit">Submit</button>
  </form>

</div>
