<div class="body">
  <app-leftbar></app-leftbar>
  <div class="container">
    <app-error-message [message]="error"></app-error-message>
    <div class="publicationlist">
      <div class="publication" *ngFor="let pub of publications">
        <div class="card">
          <div class="image"></div>
          <div class="content">
            <p>
                      <span class="title">
                        by {{ pub.author }} ({{ pub.publicationDate | date: 'medium' }})
                      </span>
            </p>
            <p class="desc">
              {{ pub.label }}
            </p>
          </div>
        </div>
        <app-comment-section [publicationId]="pub.id"></app-comment-section>
      </div>
    </div>
    <app-publication-form (newPublication)="addPublication($event)"></app-publication-form>
  </div>
</div>
