@import '../../../styles/_flex';
@import '../../../styles/_placeholder';
@import '../../../styles/_input';
@import '../../../styles/_btn';
body {
  color: $text-color;
}

.body {
  @include flex(row,center, center);

  height: 100%;
  width: 100%;
}

.form-projet{
  width: 100%;
}
.publicationlist{
  @include flex(column,center, center);
  max-height: 75%;
  width: 100%;
}

.container {
    @include flex(column,center, center);
    margin-left: 10px;
    max-height: 95vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
// .form-projet{
//     width: 100%;
// }

.publication{
    @include flex(row,inline-start,center);
    width: 100%;
    min-height: 300px;
    max-height: 600px;
    overflow-y: auto;
    margin: 10px 10px 10px 10px;
    ul{
        text-decoration: none;
    }
}



  .card a {
    text-decoration: none
  }

  .content {
    padding: 1.1rem;
  }

  .image {
    object-fit: cover;
    width: 100%;
    height: 150px;
    background-color: rgb(239, 205, 255);
  }

  .title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }

  .desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563EB;
    padding: 4px 8px;
    border-radius: 4px;
  }
  .card{
    max-width: 500px;
  }
  .action span {
    transition: .3s ease;
  }

  .action:hover span {
    transform: translateX(4px);
  }
